<div class="jumbotron jumbotron-fluid text-center noArts">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>No Articles </h1>
                <p>Scrape For a Topic Below<p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul id="landingTopics">
                    <li class="nav-item"><a class="nav-link" href="/api/scrape/world"><i class="fas fa-globe-americas" style="color: #02a4d3"></i></a></li>
                    <li class="nav-item"><a class="nav-link" href="/api/scrape/politics"><i class="fas fa-landmark" style="color: #02a4d3"></i></a></li>
                    <li class="nav-item"><a class="nav-link" href="/api/scrape/business"><i class="fas fa-briefcase" style="color: #02a4d3"></i></a></li>
                     <li class="nav-item"><a class="nav-link" href="/api/scrape/technology"><i class="fas fa-laptop" style="color: #02a4d3"></i></a></li>
                    <li class="nav-item"><a class="nav-link" href="/api/scrape/science"><i class="fas fa-flask" style="color: #02a4d3"></i></a></li>
                    <li class="nav-item"><a class="nav-link" href="/api/scrape/health"><i class="fas fa-stethoscope" style="color: #02a4d3"></i></a></li>
                    <li class="nav-item"><a class="nav-link" href="/api/scrape/sports"><i class="fas fa-football-ball" style="color: #02a4d3"></i></a></li>
                    <li class="nav-item"><a class="nav-link" href="/api/scrape/food"><i class="fas fa-utensils" style="color: #02a4d3"></i></a></li>
                    <li class="nav-item"><a class="nav-link" href="/api/scrape/travel"><i class="fas fa-plane" style="color: #02a4d3"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>