<div class="modal" id="id-{{this._id}}" data-id="{{this._id}}" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Notes for: {{this.title}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    {{!-- row to hold notes --}}
                    <div class="row">
                        <div class="col-md-12 notesDisplay">
                            <ul></ul>
                        </div>
                    </div>
                    {{!-- row to hold input for note --}}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form">
                                <div class="form-group">
                                    <label for="noteArea">Add a Note</label>
                                    <input value="" id="note-{{this._id}}" type="text">
                                    {{!-- <textarea class="form-control noteArea" rows="1"></textarea> --}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary addNoteBtn">Add Note</button>
            </div>
        </div>
    </div>
</div>

{{!-- need to have title, ul with li being the notes (user should be able to delete notes), and text area with button to submit for new note --}}