<div class="container-fluid">
    <section id="articles">
        <div class="row">
            <div class="col">
                {{#each articles}}
                {{> articles}}
                {{/each}}
            </div>
        </div>
        
    </section>
</div>
