<div class="container-fluid">
    <section id="articles">
        <div class="row">
            <div class="col">
                {{#if articles}}
                    {{#each articles}}
                    {{> articles}}
                    {{> modal}}
                    {{/each}}
                {{else}}
                    {{> landing}}
                {{/if}}
            </div>
        </div>

    </section>
</div>