body {
  font-family: 'Roboto', sans-serif;
  background-image: url(../images/black_paper.png);
}

#landingSection {
  background-image: url(../images/landingpic.jpg); 
  background-repeat:no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 90.4vh;
  display: flex;
  opacity: 0.95;
  justify-content: center;
  align-items: center;
}

#introContainer {
  background:whitesmoke;
  color: #000000;
  min-height: 50vh;
  max-width: 140vh;
  opacity: 0.82;
}

.media {
  background: #202020;
  opacity: 0.9;
  /* box-shadow:2px 1px 5px 2px #17a2b8; */
  padding:10px;
  color: white;
}

#noArts {
  color: #444444;
  opacity: 0.3;
}
